<!--ABOUT-->
    <section class="about">
        <div class="content-about">
            <div class="image-about">
                <img id="img1"
                src="https://i.pinimg.com/originals/e3/cf/ef/e3cfef9424270a09898472a28d0d93ae.jpg" alt=""> 
            </div>
            <div class="information">      
                <h1>Acerca de Nosotros</h1>
                <h2>Aptitud del Lobo</h2>
                <p>Somos una Organización encargada en el asesoramiento nutricional, control de peso, limpieza interna y externa del cuerpo, ejercicios tonificadores, reuniones de empoderamiento, chats cerrados e informativos, eventos online, etc...</p>
                <p>Nuestra idea de gimnasio ofrecerá servicios de máquinas, fitness, aerobic, spining... para todo tipo de público, desde jóvenes, mediana edad, y personas mayores, adaptándonos a cada nivel de edad, porque aunque nuestros mayores 
                no están muy acostumbrados a ir al gimnasio para cuidarse, cada vez mas se van iniciando en el deporte.</p>
                <button id="more-information">MÁS INFORMACIÓN</button>
            </div>
        </div>
        
    </section>
<!--END ABOUT-->