<!--CONTACTS-->
    <section class="contacts">
        <div class="content-contacts">
            <div class="information-contacts">
                <div class="cont-dates">
                    <h4>➤ DIRECCIÓN</h4>
                    <P>Av. Tarqui y Sanchéz de Orellana</P>          
                </div>
                <div class="cont-dates">
                    <h4>✉ EMAIL</h4>
                    <p><a href="mailto:wolffitness@email.com" style="text-decoration: none">wolffitness@email.com</a></P>          
                </div>
                <div class="cont-dates">
                    <h4> ☏ CONTACTOS</h4>
                    <p><a href="tel:0987252457" style="text-decoration: none;">0987252457</a></p>    
                    <p><a href="tel:0995871256" style="text-decoration: none;">0995871256</a></p>      
                </div>
            </div>
           

        </div>

        
    </section>
<!--END OF CONTACTS-->