   <!--HEADER-->
    <header class="header">
        <div class="content">
            <h3 id="font1">Al principio te preguntarán</h3>
            <h3 id="font2"><strong>¿POR QUÉ</strong> lo estas haciendo?</h3>
            <h3 id="font3">Más tarde te preguntarán</h3>
            <h3 id="font4"><strong>¿CÓMO</strong> lo hiciste?</h3>
            <h1>SERVICIO DE GIMNASIO </h1>
            <h1>ALIMENTACIÓN Y SUPLEMENTACIÓN</h1>
            <button id="to-explore">EXPLORAR</button>
        </div>
    </header>
    <!--END HEADER-->

    <!--CONTENT DIVIDER-->
    <div class="content-divider">

    </div>
<!--END CONTENT DIVIDER-->
    