  <!--PRODUCTS-->
    <section class="products">
        <div class="content-inventory">
            <div class="information-inventory">
                <h1>Revisa</h1>
                <h2>Nuestros Productos</h2>
                <p>Ofrecemos una amplia variedad de suplementos, pre y post entreno,
                    además de planes de entrenamiento tanto como guías alimenticias,
                    todo para llevar tu cuerpo al siguiente nivel.
                </p>
                <button id="inventory">Inventario</button>
            </div>
    
            <div class="images-inventory">
                {{inventario}}
            </div>
            
        </div>
      
        
    </section>
    <!--END PRODUCTS-->